
DATABASE_URL="mongodb+srv://todo_user:3povvWN6P1BtSxUb@cluster0.ukqdni7.mongodb.net/todo?retryWrites=true&w=majority&appName=Cluster0"

PORT=8089

ACCESS_TOKEN_SECRET_KEY="37f8e2d1e3b8c9405a92c1d843b5fd1ad9b7f3c8c8a2f6f9b6ff7db9b8e740f4"

SWAGGER_BASE_PATH="http://localhost:8089/api/"

